# Object files
*.sob
*.SOB

#ROMs
*.sfc
*.smc
*.SFC
*.SMC
*.srm
*.ram

#MSU stuff
*.msu
*.pcm

# allow zips in tools
!*/TOOLS/mugconv/*.zip
!*/TOOLS/fontconv/*.zip

#ZIPs
*.7z
*.zip
*.rar

# build logs
*.LOG
*.log
*/SF/*.DOC
*/SF/*.doc
*/SF/*.TMP
*/SF/*.tmp
*/SF/*.txt
*.TXT
