#ROMs
*.sfc
*.smc
*.SFC
*.SMC
*.srm
*.ram

#MSU stuff
*.msu
*.pcm

#ZIPs
*.7z
*.zip
*.rar

#patches
*.bps
*.BPS
*.ips
*.IPS

#backups
*.bak
*.BAK

# build logs
*.LOG
*.log
*/SF/*.DOC
*/SF/*.doc
*/SF/*.TMP
*/SF/*.tmp
*/SF/*.txt
*.TXT
*.txt
*.CSV
*.csv
*.CSV#
*.csv#
*:Zone.Identifier

# VSCode stuff
# Allow settings and tasks and nothing else
!/.vscode/settings.json
!/.vsvode/tasks.json
*/.vscode/*

# Files generated during assembly
*.CCR
*.PCR
*.PAC
*.pac
ALLCOLS.COL
allcols.col
MSUDATA.INC
*.MSG
*.tmp

# Object files
*.sob
*.SOB

# Linker Address Maps
*.map
*.MAP
