#ROMs
*.sfc
*.smc
*.SFC
*.SMC
*.srm
*.ram

#MSU stuff
*.msu
*.pcm

#ZIPs
*.7z
*.zip
*.rar

#backups
*.bak
*.BAK

# build logs
*.LOG
*.log
*/SF/*.DOC
*/SF/*.doc
*/SF/*.TMP
*/SF/*.tmp
*/SF/*.txt
*.TXT
*.CSV
*.csv
*.CSV#
*.csv#

# VSCode stuff
*/.vscode/*

# Files generated during assembly
*.CCR
*.PCR
SF/DATA/COL/*.PAC
SF/DATA/COL/ALLCOLS.COL

# Object files
*.sob
*.SOB

# Linker Address Maps
*.map
*.MAP
.DS_Store

# File managers stuff
.DS_Store
